body {
	padding-top: 60px;
}

.help-block {
	font-size: 12px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    padding:0;
    list-style-type: none;
}

#event {
	margin-bottom: 5px;
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
	background: lightgrey;
	border: 1px;
	border-color: #000;
	border-style:solid; 
}