body {
	padding-top: 120px;
}

.help-block {
	font-size: 12px;
}

.footer {
	padding-top: 5px;
	padding-bottom: 10px;
}

.navbar {
	height: 120px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
}

.jumbotron {
	padding-top: 5px;
	padding-bottom: 0px;
}

.eventContainer {
	padding-bottom: 5px;
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
	background: lightgrey;
	border: 1px;
	border-color: #000;
	border-style: solid;
}

#inputfoto {
	margin-left: 10%;
	width: 80%;
	margin-right: 10%;
	/* border: 1px solid #ccc; */
}

#foto {
	width: 90%;
	max-width: 500px;
	max-height: 500px;
	margin-left: auto;
	margin-right: auto;
}