html {
	height: 100%;
	overflow: hidden;
	position: relative;
}

body {
	height: 100%;
	overflow: auto;
	position: relative;
	padding-top: 120px;
}

.disabled {
  cursor: not-allowed;
}

.content {
	position: fixed;
	top: 60px;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #fff;
	-webkit-backface-visibility: none;
	-webkit-overflow-scrolling: touch;
}

.loading {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.iphoneInstall {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 1.5em;
}

.help-block {
	font-size: 12px;
}

.footer {
	padding-top: 5px;
	padding-bottom: 5px;
}

.header {
	height: 120px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
}

.jumbotron {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

.eventContainer {
	padding-bottom: 2px;
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
	background: lightgrey;
	border: 1px;
	border-color: #000;
	border-style: solid;
}

#inputfoto {
	image-orientation: from-image;
	margin-left: 10%;
	width: 80%;
	margin-right: 10%;
	/* border: 1px solid #ccc; */
}

#foto {
	image-orientation: from-image;
	width: 90%;
	max-width: 500px;
	max-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#fotoAvatar {
	image-orientation: from-image;
	width: 90%;
	max-width: 250px;
	max-height: 250px;
	margin-left: auto;
	margin-right: auto;
}

.avatar {
	width: 48px;
	height: 48px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 5px;
}

#userDetails {
	padding: 5px;
}

#userDetails p {
	font-size: 1em;
}

.botoncont {
	font-size: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}