<div clasds="modal fade bd-example-modal-lg">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-title">Nuevo mensaje</h4>
	</div>
	<div class="modal-body" id="modal-body">
		<div id="inputpicture" ng-if=" foto != '' ">
			<button class="btn btn-primary" type="button" ng-click="pc.removeFoto()">Remove</button>
			<div id="inputfoto">
				<img class="img-responsive" src="{{foto}}" id="foto"></img>
			</div>
		</div>
		<div class="form-group">
			<textarea class="form-control" rows="{{textRows}}" id="eventText"
				ng-model="data.text"></textarea>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="pc.camera()">
			<i class="icon-camera-outline" style="font-size: 24px;"></i>
		</button>
		<button class="btn btn-primary" type="button" ng-click="pc.ok()">Send!!</button>
		<button class="btn btn-warning" type="button" ng-click="pc.cancel()">Cancel</button>
		<button class="btn btn-primary" type="button" ng-click="pc.location()">
			<i class="icon-globe-outline" style="font-size: 24px;"></i>
		</button>
	</div>
	<input type="file" name="foto" id="hiddeninput" accept="image/*" style="display: none;"
	 ng-model="foto" onchange="angular.element(this).scope().pc.readURL(this)"/>
</div>
<div>