<div clasds="modal fade bd-example-modal-lg">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-title">Nuevo mensaje</h4>
	</div>
	<div class="modal-body" id="modal-body">
		<div id="inputpicture" ng-if=" foto != '' ">
			<a href="#" ng-click="pc.removeFoto()"><i class="icon-trash" style="font-size: 32px; color: tomato"></i></a>
			<div id="inputfoto">
				<img class="img-responsive" src="{{foto}}" id="foto"></img>
			</div>
		</div>
		<div class="form-group">
			<textarea class="form-control" rows="{{textRows}}" id="eventText"
				ng-model="data.text"></textarea>
		</div>
	</div>
	<div class="modal-footer">
	<div class="row">
		<div class="col-xs-3">
		<button class="btn btn-default btn-lg" type="button" ng-click="pc.camera()">
			<i class="icon-camera-outline" style="font-size: 24px;"></i>
		</button>
		</div>
		<div class="col-xs-3">
		<a her="#" ng-click="pc.send()"><i class="icon-ok" style="font-size: 32px; color: green"></i></a>
		</div>
		<div class="col-xs-3">
		<a her="#" ng-click="pc.cancel()"><i class="icon-cancel" style="font-size: 32px; color: red"></i></a>
		</div>
		<div class="col-xs-3">
		<button class="btn btn-default btn-lg" type="button" ng-click="pc.location()">
			<i class="icon-location" style="font-size: 24px;"></i>
		</button>
		</div>
	</div>
	</div>
	<input type="file" name="foto" id="hiddeninput" accept="image/*, video/*" style="display: none;"
	 ng-model="foto" onchange="angular.element(this).scope().pc.readURL(this)"/>
</div>