<nav class="navbar navbar-default navbar-fixed-top"
	id="events" ng-controller='EventController as pc'>
	<div class="row">
		<div class="col-xs-2" align="center" ng-click="pc.openModal()">
			<a href="#"><i class="icon-export-outline"
				style="font-size: 32px;"></i></a>
		</div>
		<div class="col-xs-8" align="center">
			<a href="#"><img class="img-responsive" src="icons/Logo.png"
				height="75"></a>
		</div>
		<div class="col-xs-2" align="center">
			<a href="#" ng-click="userDetails()"><i class="icon-user-outline"
				style="font-size: 32px;"></i></a>
		</div>
	</div>
</nav>
<div class="loading" ng-if="loading">
	<div class="row">
		<div class="col-xs-12">
		<img src="icons/spinner.gif" width="75px" height="auto">
		</div>
	</div>
</div>

<!-- Contenedor para cada uno de los eventos infinite-scroll="loadMore()" -->
<div class="content" infinite-scroll="loadMore()">
<div pull-to-refresh="onReload()">
<div class='jumbotron' ng-repeat="x in events">
	<div class="eventContainer">
		<div class="row">
			<div class="col-xs-6">
				<span ng-if="x.creatorAvatar.length > 0">
					<img src="{{trustURL(x.creatorAvatar)}}" class="img-circle avatar">
				</span>
				<span ng-if="x.creatorAvatar == ''">
					<i class="icon-user-outline" style="font-size: 20px; color: blue"></i>
				</span>
				<a href="#"><span style="font-size: 1.5em;padding-left: 5px;">{{x.creatorName}}</span</a>
			</div>
			<div class="col-xs-6">
				<span class="pull-right">{{formatDates(x.createdAt)}}</span>
			</div>
		</div>
		<div class="row" style="padding-top: 0px; padding-bottom: 0px;">
			<div class="col-xs-12">
				<span class="pull-right">{{x.location}}</span>
			</div>
		</div>
		<hr style="width: 80%; size: 3; color: black;">
		<div ng-if="x.multiMedia.length > 0 ">
			<div ng-if="x.mediaType === 'image'">
				<img class="img-responsive" id="foto" src="{{trustURL(x.multiMedia)}}"></img>
			</div>
			<div align="center" ng-if="x.mediaType === 'video'">
				<video id="foto" controls="true"><source src="{{trustURL(x.multiMedia)}}" type="video/mp4"></video>
			</div>
		</div>
		<p>{{x.text}}</p>
		<hr style="width: 80%; size: 3; color: black;">
		<div class="row">
			<div class="col-xs-3">
					<a href="" ng-if="x.creatorMail == user"><i class="icon-thumbs-up"
						style="font-size: 24px;"></i>{{x.likes.length}}</a>
					<a href="" ng-if="x.creatorMail != user" ng-click="eventDetails('thumbsUp', x.id)">
					<i class="icon-thumbs-up" style="font-size: 24px;"></i>{{x.likes.length}}</a>
			</div>
			<div class="col-xs-3" align="center">
				<a href="" ng-click="eventComments(x)">
				{{x.comments.length}}<i class="icon-chat-alt" style="font-size: 24px;"></i></a>
			</div>
			<div class="col-xs-3" align="center">
				<button class="btn btn-link" ng-if="x.creatorMail === user"
					ng-click="deleteEvent(x.id)"><i class="icon-trash" style="font-size: 24px;"></i></button>
			</div>
			<div class="col-xs-3">
				<span class="pull-right"> 
				<a href="" ng-if="x.creatorMail == user">{{x.dislikes.length}}
						<i class="icon-thumbs-down" style="font-size: 24px;"></i>
				</a>
				<a href="" ng-if="x.creatorMail != user" ng-click="eventDetails('thumbsDown', x.id)">{{x.dislikes.length}}
						<i class="icon-thumbs-down" style="font-size: 24px;"></i>
				</a>
				</span>
			</div>
		</div>
	</div>
</div>
</div>
<div class="loading" ng-if="loading">
	<div class="row">
		<div class="col-xs-12">
			<img src="icons/spinner.gif" width="75px" height="auto">
		</div>
	</div>
</div>
</div>