<nav class="navbar navbar-default navbar-fixed-top" id="comments">
	<div class="eventContainer">
		<div class="row">
			<div class="col-xs-6">
				<a href="#">{{eId.creatorName}}</a>
			</div>
			<div class="col-xs-6">
				<span class="pull-right">{{formatDates(eId.createdAt)}}</span>
			</div>
		</div>
		<div class="row" style="padding-top: 0px; padding-bottom: 0px;">
			<div class="col-xs-12">
				<span class="pull-right">{{eId.location}}</span>
			</div>
		</div>
		<div ng-if="eId.multiMedia.length > 0 " align="center">
			<div ng-if="eId.mediaType === 'image'">
				<img src="{{trustURL(eId.multiMedia)}}" style="max-height: 250px"></img>
			</div>
			<div ng-if="eId.mediaType === 'video'">
				<video id="foto" controls="true">
					<source src="{{trustURL(eId.multiMedia)}}" type="video/mp4">
				</video>
			</div>
		</div>
		<p style="font-size: 1.5em;">{{eId.text}}</p>
		<hr style="width: 80%; size: 3; color: black;">
		<div class="row">
			<div class="col-xs-2" align="center">
				<a href="" ng-click="getBack()"><i class="icon-cancel"
					style="font-size: 40px; color: tomato"></i></a>
			</div>
			<div class="col-xs-4"></div>
			<div class="col-xs-2">
				<a href=""><i class="icon-thumbs-up" style="font-size: 24px;"></i>{{eId.likes.length}}</a>
			</div>
			<div class="col-xs-2" align="center">
				<a href="" ng-click="newComment()"><i
					class="icon-export-outline" style="font-size: 24px;"></i></a>
			</div>
			<div class="col-xs-2">
				<span class="pull-right"> <a href="">{{eId.dislikes.length}}
						<i class="icon-thumbs-down" style="font-size: 24px;"></i>
				</a>
				</span>
			</div>
		</div>
	</div>
</nav>

<div class="loading" ng-if="loading">
	<div class="row">
		<div class="col-xs-12">
			<img src="icons/spinner.gif" width="75px" height="auto">
		</div>
	</div>
</div>

<!--  Contenedor para los comentarios -->
<!-- Contenedor para cada uno de los comentarios -->
<div id="commentsContainer" infinite-scroll="loadMore()">
	<div class='jumbotron' ng-repeat="x in comments">
		<div class="eventContainer">
			<div class="row">
				<div class="col-xs-6">
					<span ng-if="x.creatorAvatar.length > 0"> <img
						src="{{trustURL(x.creatorAvatar)}}" class="img-circle avatar">
					</span> <span ng-if="x.creatorAvatar == ''"> <i
						class="icon-user-outline" style="font-size: 20px; color: blue"></i>
					</span> <a href="#"><span style="font-size: 1.5em; padding-left: 5px;">{{x.creatorName}}</span</a>
				</div>
				<div class="col-xs-6">
					<span class="pull-right">{{formatDates(x.createdAt)}}</span>
				</div>
			</div>
			<div class="row" style="padding-top: 0px; padding-bottom: 0px;">
				<div class="col-xs-12">
					<span class="pull-right">{{x.location}}</span>
				</div>
			</div>
			<div ng-if="x.multiMedia.length > 0 " align="center">
				<div ng-if="x.mediaType === 'image'">
					<img class="img-responsive" id="foto"
						src="{{trustURL(x.multiMedia)}}"></img>
				</div>
				<div ng-if="x.mediaType === 'video'">
					<video id="foto" controls="true">
						<source src="{{trustURL(x.multiMedia)}}" type="video/mp4">
					</video>
				</div>
			</div>
			<p>{{x.text}}</p>
			<hr style="width: 80%; size: 3; color: black;">
			<div class="row">
				<div class="col-xs-3">
					<a href="" ng-if="x.creatorMail == user"><i
						class="icon-thumbs-up" style="font-size: 24px;"></i>{{x.likes.length}}</a>
					<a href="" ng-if="x.creatorMail != user"
						ng-click="eventDetails('thumbsUp', x.id)"> <i
						class="icon-thumbs-up" style="font-size: 24px;"></i>{{x.likes.length}}
					</a>
				</div>
				<div class="col-xs-6" align="center">
					<button class="btn btn-link" ng-if="x.creatorMail === user"
						ng-click="deleteComment(x.id)">
						<i class="icon-trash" style="font-size: 24px;"></i>
					</button>
				</div>
				<div class="col-xs-3">
					<span class="pull-right"> <a href=""
						ng-if="x.creatorMail == user">{{x.dislikes.length}} <i
							class="icon-thumbs-down" style="font-size: 24px;"></i>
					</a> <a href="" ng-if="x.creatorMail != user"
						ng-click="eventDetails('thumbsDown', x.id)">{{x.dislikes.length}}
							<i class="icon-thumbs-down" style="font-size: 24px;"></i>
					</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>