<nav class="navbar navbar-default navbar-fixed-top">
	<div class="row">
		<div class="col-xs-2" align="center" ng-click="back()">
			<a href="#"><i class=" icon-cancel-outline"
				style="font-size: 32px; color: tomato;"></i></a>
		</div>
		<div class="col-xs-8" align="center">
			<a href="#"><img class="img-responsive" src="icons/Logo.png"
				height="75"></a>
		</div>
		<div class="col-xs-2" align="center">
		</div>
	</div>
</nav>
<div class="container noPreventDefault" ng-swipe-right="swipe('goBack')"">
	<div class="jumbotron" id="userDetails">
		<div class="row">
			<div class="col-xs-9">
				<div class="jumbotron">
					<p style="color:blue; font-size: 1.25em;"><b>{{data.name}}</b></p>
					<p><b>Email</b>: {{data.email}}</p>
					<p><b>Ultimo Post</b>: {{data.lastPost}}</p>
					<p><b>N&uacute;mero de Posts</b>: {{data.numPosts}}</p>
				</div>
			</div>
			<div class="col-xs-3">
				<div ng-if=data.avatar != ''">
					<img src="data.avatar">
				</div>
				<i ng-if="data.avatar == '' || data.avatar=='null'" class="icon-user-outline" style="font-size: 48px; color: tomato"></i>
			</div>
		</div>
	</div>
	<div class="botoncont">
		<button type="button" class="btn btn-block btn-primary" ng-click="logout()">
		<i class="icon-power-outline" style="font-size: 24px"></i>Logout</button>
	</div>
		<div class="botoncont">
		<button type="button" class="btn btn-block btn-warning" ng-click="changePassword()">
		<i class="icon-cw-outline" style="font-size: 24px"></i>Cambiar password</button>
	</div>
		<div class="botoncont" style="margin-top:20px;">
		<button type="button" class="btn btn-block btn-danger" ng-click="removeUser()">
		<i class="icon-attention-filled" style="font-size: 24px"></i> Salirse de LopezGram</button>
	</div>
</div>

<div class="loading" ng-if="loading">
	<div class="row">
		<div class="col-xs-12">
		<img src="icons/spinner.gif" width="75px" height="auto">
		</div>
	</div>
</div>