<nav class="navbar navbar-default navbar-fixed-top">
	<div class="row">
		<div class="col-xs-2" align="center" ng-click="back()">
			<a href="#"><i class=" icon-cancel-outline"
				style="font-size: 32px; color: tomato;"></i></a>
		</div>
		<div class="col-xs-8" align="center">
			<a href="#"><img class="img-responsive" src="icons/Logo.png"
				height="75"></a>
		</div>
		<div class="col-xs-2" align="center">
		</div>
	</div>
</nav>
<div class="container noPreventDefault" ng-swipe-right="swipe('goBack')"">
	<div class="jumbotron" id="userDetails">
		<div class="row">
			<div class="col-xs-6">
				<div class="jumbotron">
					<p style="color:blue; font-size: 1.25em;"><b>{{data.name}}</b></p>
					<p><b>Email</b>: {{data.email}}</p>
					<p><b>Usuario desde</b>: {{data.month}} {{data.year}}</p>
					<p><b>Ultimo Post</b>: {{data.lastPost}}</p>
					<p><b>N&uacute;mero de Posts</b>: {{data.numPosts}}</p>
					<p><b>N&uacute;mero de Seguidores</b>: {{data.numFollowers}}</p>
				</div>
			</div>
			<div class="col-xs-6" ng-click="avatarChange()">
				<div ng-if="data.avatar == ''">
					<img src="icons/noAvatar.jpg" class="img-circle" style="max-width: 150px;">
				</div>
				<div ng-if="data.avatar.length > 0">
					<img src="{{data.avatar}}" class="img-circle" style="max-width: 150px;">
				</div> 
			</div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-4">
				<button type="button" class="btn btn-block btn-info" style="color:black;" ng-click="following()">
				Siguiendo</button>
			</div>
			<div class="col-xs-2"></div>
			<div class="col-xs-4">
				<button type="button" class="btn btn-block btn-info" style="color:black;" ng-click="followers()">
				Sequidores</button>
			</div>
			<div class="col-xs-1"></div>
		</div>	
	</div>
	<div ng-if="! followingView && ! followersView">
		<div class="botoncont">
			<button type="button" class="btn btn-block btn-primary" ng-click="logout()">
			<i class="icon-power-outline" style="font-size: 24px"></i>Logout</button>
		</div>
		<div class="botoncont">
			<button type="button" class="btn btn-block btn-warning" ng-click="changePassword()">
			<i class="icon-cw-outline" style="font-size: 24px"></i>Cambiar password</button>
		</div>
		<div class="botoncont" style="margin-top:20px;">
			<button type="button" class="btn btn-block btn-danger" ng-click="removeUser()">
			<i class="icon-attention-filled" style="font-size: 24px"></i> Salirse de LopezGram</button>
		</div>
	</div>
	
	<div ng-if="followingView">
		<div class='jumbotron' ng-repeat="x in followingUsers">
			<div class="row">
			<div class="col-xs-6">
				<span ng-if="x.avatar.length > 0">
					<img src="{{trustURL(x.avatar)}}" class="img-circle avatar">
				</span>
				<span ng-if="x.avatar == ''">
					<i class="icon-user-outline" style="font-size: 20px; color: blue"></i>
				</span>
				<a href="#"><span style="font-size: 1.5em;padding-left: 5px;">{{x.name}}</span></a>
			</div>
			<div class="col-xs-6">
				<span class="pull-right"><i class=" icon-cancel-outline"
				style="font-size: 32px; color: tomato;" ng-click="unfollow(x)"></i></span>
			</div>
		</div>
		</div>
	</div>
	
		<div ng-if="followersView">
		<div class='jumbotron' ng-repeat="x in followersUsers">
			<div class="row">
			<div class="col-xs-6">
				<span ng-if="x.avatar.length > 0">
					<img src="{{trustURL(x.avatar)}}" class="img-circle avatar">
				</span>
				<span ng-if="x.avatar == ''">
					<i class="icon-user-outline" style="font-size: 20px; color: blue"></i>
				</span>
				<a href="#"><span style="font-size: 1.5em;padding-left: 5px;">{{x.name}}</span></a>
			</div>
			<div class="col-xs-6">
				<span class="pull-right"><i class=" icon-cancel-outline"
				style="font-size: 32px; color: tomato;"></i></span>
			</div>
		</div>
		</div>
	</div>
	
</div>

<div class="loading" ng-if="loading">
	<div class="row">
		<div class="col-xs-12">
		<img src="icons/spinner.gif" width="75px" height="auto">
		</div>
	</div>
</div>