<nav class="navbar navbar-default navbar-fixed-top header">
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-8" align="center">
			<a href="#"><img class="img-responsive" src="icons/Logo.png"
				height="75"></a>
		</div>
		<div class="col-xs-2"></div>
	</div>
</nav>
<div class="col-xs-6 col-xs-offset-2">
	<h2>Login</h2>
	<form name="form" ng-submit="form.$valid && vm.login()" novalidate>
		<div class="form-group"
			ng-class="{ 'has-error': form.$submitted && form.username.$invalid }">
			<label for="username">eMail Adress</label> <input type="email"
				name="username" class="form-control" ng-model="vm.username" required />
			<div ng-messages="form.$submitted && form.username.$error"
				class="help-block">
				<div ng-message="required">Email is required</div>
			</div>
		</div>
		<div class="form-group"
			ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
			<label for="password">Password</label> <input type="password"
				name="password" class="form-control" ng-model="vm.password" required />
			<div ng-messages="form.$submitted && form.password.$error"
				class="help-block">
				<div ng-message="required">Password is required</div>
			</div>
		</div>
		<div class="form-group">
			<button ng-disabled="vm.loading" class="btn btn-primary">Login</button>
			<div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
		</div>
	</form>
	<div class="row">
		<div class="col-xs-6" class="pull-left"
			style="padding-top: 20px; padding-bottom: 20px; padding-right: 10px;">
			<div>
			<button class="btn btn-warning" style="color: black;" ng-click="userRegistration()">Nuevo
				Usuario</button>
		</div>
		<div class="col-xs-6"></div>
	</div>
</div>
<div class="loading" ng-if="vm.loading">
	<div class="row">
		<div class="col-xs-12">
			<img src="icons/spinner.gif" width="50%">
		</div>
	</div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom footer" ng-if="vm.iphoneInstall">
	<div class="jumbotron">
	<div class="row">
		<div class="col-xs-6 iphoneInstall">
		Installa la aplicación en tu iPhone pulsando 
		</div>
		<div class="col-xs-2">
			<img src="icons/iphone_homescreen1.png">
		</div>
		<div class="col-xs-2 iphoneInstall">
		Y despu&eacute;s
		</div>
		<div class="col-xs-2">
			<img src="icons/iphone_homescreen2.png">
		</div>
	</div>
	</div>
</div>
